@font-face {
    font-family:Pokemon;
    src: url(../font/Pokemon\ Classic.ttf);
}
:root{
    --primary: SlateBlue;
    --secondary: white;
    --tertiary: DarkSlateBlue;

    color: var(--secondary);
}
*{
    color:var(--secondary);
    font-family:'Pokemon', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:var(--primary);
    margin: 0;
}

/* generic classes */

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/* specific classes */
.page-num{
    position: fixed;
    bottom: 0px;
    right: 60px;
    width:60px;
    
}
.page-num p{
    margin:5px;
}
.burger-button{
    background:none;
    border:0;
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
}
#navbar {
    background-color: DarkSlateBlue;
    width: auto;
    position: relative;
    top: 0px;
    padding: 5px 10px 5px 10px;
    
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#navbar .burger-button img{
    width: 36px;
    height: 36px;
}
#navbar .burger-button:hover{
    cursor: pointer
}

button{
    color: white !important;
}
/* #navbar{
} */
#navbar .left-nav-container{
    width:40%;
    font-size: 12px;
}
#navbar .left-nav-container img{
    height: 40px;
    margin: 0px 10px 0px 10px;
}
.arrow-button{
    background:none;
    border:none;
}
.arrow-button:hover{
    cursor: pointer;
}
/* .arrow-button:hover img{
} */
.arrow-button img{
    width: 40px;
    height: 30px;
}
.page{
    margin: 0 100px 0 100px;
}
.page .year-range{
    width:15%;
}
.page .project-title{
    width:20%;
    font-size: 24px;
}
.page .description{
    width:65%;
}
/* Specific Classes */

#sidebar-nav {
    position: fixed;

    right: -150px;
    width: 150px;

    height: 100%;
    background-color: var(--tertiary);
    z-index: 10;

    transition: ease-in-out 0.5s;
}

#sidebar-nav>button {
    margin-left: 120px;
    margin-top: 10px;
    width: 25px;
    height: 25px;
    padding: 0;

    background: none;
    border: none;
}

#sidebar-nav>button:hover {
    cursor: pointer;
}

#sidebar-nav div button {
    border: 2px solid black;
    background: none;
    margin: 10px 0 10px 0;
}

#sidebar-nav div button:hover {
    cursor: pointer
}
div.scroll-container {

    display: flex;
    background-color: #333;
    padding: 10px;
    width: 100%; 
    align-items: center;
    justify-content: space-evenly;
  }
  
  div.scroll-container img {
    padding: 10px;
    width: 250px;
  }
/* 
IMPORTANT CLASSES 
overrides stuff from top if its at bottom 
yk yk yk yk yk yk yk yk yk yk 
*/
.hidden{
    display:none;
}

#sidebar-nav.sidebar-shown{
    right:0px;
}
/* ANIMATIONS */
/* 
@keyframes from-right {
    from{
        right:-150px;
    }
    to{
        right: 0px;
    }
} */