:root{
    --primary: #000;
    --secondary: #FFF;

    color: var(--secondary)
}
*{
    color:var(--secondary)
}
body{
    background-color:var(--primary);
}
.page-num{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width:60px;
}
.page-num p{
    margin:5px;
}
.burger-button{
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
}
.burger-icon{
    width: 36px;
    height: 36px;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#navbar .left-nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:40%;
    font-size: 12px;
    color:red;
}
#navbar .left-nav-container img{
    height: 40px;
    margin: 0px 10px 0px 10px;
}